<div class="container">

  <%= render 'calendar' %>

  <h1>Current Rosters</h1>

  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Personnel Avail</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @rosters.each do |roster| %>
        <% if roster.start_date >= Date.today.beginning_of_week %>
          <tr>
            <td><%= link_to roster.name.capitalize, roster %></td>
            <td><%= roster.start_date.strftime("%m/%d/%Y") %></td>
            <td><%= roster.end_date.strftime("%m/%d/%Y") %></td>
            <td><%= roster.availabilities.count %></td>
            <td>
              <%#= link_to 'View', roster %>
              <%= roster_index_links roster %>
            </td>
          </tr>
        <% end %>  
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Roster', new_roster_path, class: 'btn btn-outline-primary' %>
</div>  
