<div class="container">  
  <h1>Team Member List</h1>

  <div>
    <table class="table table-hover">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th class="text-center">Shift</th>
          <th class="text-center">Quals</th>
          <th>Deployments</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name.titleize, user_path(user) %></td>
            <td><%= number_to_phone(user.phone, area_code: true) %></td>
            <td><%= user.email %></td>
            <td class="<%= user.shift %> text-center"><%= user.shift %></td>
            <td>
              <%= render 'shared/user_quals', user: user %>
            </td>
            <td class="text-center">
              <%= user.deployments.from_this_year.count %>
            </td>  
            <td>
              <% if current_user == user || logged_in?(:admin) %>
                <%= link_to fa_icon("pencil-square-o", class: 'fa-lg'), edit_user_path(user), class: 'edit-btn' %>
              <% end %>
              <%= link_to 'Delete', user_path(user),
                                                method: :delete,
                                                data: { confirm: "Are you sure you want to delete \'#{user.name.titleize}'?"} if logged_in?(:admin) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>  