<h1><%= @user.name %></h1>

<div>
  <p>Phone: <%= number_to_phone(@user.phone, area_code: true) %></p>
  <p>Email: <%= @user.email %></p>
  <p>Shift: <%= @user.shift %></p>
  <p> Quals:
    <%= render 'shared/user_certs' %>
  </p>
</div>
