<div class="container">  
  <h1><%= @user.name.titleize %> <%= link_to fa_icon("pencil-square-o", class: 'fa-sm'), edit_user_path(@user), class: 'edit-btn' if current_user == @user || logged_in?(:admin) %></h1>

  <div>
    <p>Phone: <%= number_to_phone(@user.phone, area_code: true) %></p>
    <p>Email: <%= @user.email %></p>
    <p>Shift: <em class="<%= @user.shift %>"><%= @user.shift %></em></p>
    <p> Quals:
      <%= render 'shared/user_quals', user: @user %>
    </p>
    <p>
      Deployments: <%= @user.deployments.from_this_year.count %>
      <% if @user.deployments_count > 0 %>
        <% @user.deployments.from_this_year.each do |deployment| %>    
          <ul>
            <li>
              <em><%= deployment.name.titleize %></em> <span>(<%= days_deployed(deployment) %> days)</span>
            </li>
          </ul>
        <% end %>  
      <% end %>  
    </p>
  </div>
</div>  
