<%= form_for(deployment) do |f| %>
  <% if deployment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deployment.errors.count, "error") %> prohibited this deployment from being saved:</h2>

      <ul>
      <% deployment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <%= fields_for(@deployment, @deployment.team_deployments.build) do |f| %>
    <div class="form-group">
      <%= f.label :users, class: "col-sm-4 control-label" %>
      <div class="collection-check-box col-sm-8">
        <%= f.collection_check_boxes :user_ids, User.all, 
                                      :id, :name do |b| %>
          <div class="check-box form-control no-border">                            
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>  
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
