<div class="container">  
  <h1 class="text-center">Deployments</h1>

  <div class="row">
    <% @deployments.each do |deployment| %>
      <div class="col-md-4">
        <div class="card w-100">
          <% if deployment.feature_image %>
            <%= link_to image_tag(deployment.feature_image, class: 'card-img-top', width: '100%'), deployment %>
          <% end %>  
          <div class="card-body">
            <h4 class="card-title mb-1"><%= link_to deployment.name.titleize, deployment %> <small class="text-muted"><%= deployment.location.titleize %></small></h4>
            <p class="card-subtitle text-muted"><%= deployment.created_at.strftime('%m/%d/%Y') %></p>
            <p class="card-text">
              <strong>Personnel:</strong>
              <% if deployment.users.count > 0 %>
                <% deployment.users.each do |user| %>
                  <%= user.name.titleize %>
                <% end %>
              <% end %>
            </p>
            <%= link_to 'Edit', edit_deployment_path(deployment), class: 'btn btn-sm btn-outline-warning' if logged_in?(:admin) %>
            <%= link_to 'Delete', deployment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' if logged_in?(:admin) %>
          </div>
        </div>
      </div>  
    <% end %>
  </div>  
</div>  
