<div class="container">

  <p id="notice"><%= notice %></p>

  <h1><%= @deployment.name.titleize %> <small class="muted"><%= @deployment.location.titleize %></small></h1>

  <div>  
    <h4>Personnel Deployed</h4>
    <% @deployment.team_deployments.each do |p| %>
      <p><%= p.user.name.titleize %></p>
    <% end %>
  </div>  


  <%= link_to 'Edit', edit_deployment_path(@deployment) %> |
  <%= link_to 'Back', deployments_path %>

</div>  
