<div class="container">

  <%= link_to 'Edit', edit_deployment_path(@deployment) %> |
  <%= link_to 'Back', deployments_path %>

  <div class="row">

    <div class="col-md-6">  

      <h1 class="mb-0"><%= @deployment.name.titleize %> <small class="muted"><%= @deployment.location.titleize %></small></h1>

      <h5 class="mb-3 muted"><%= @deployment.created_at.strftime('%m/%d/%Y') %></h5>

      <div>  
        <h4>Personnel Deployed:</h4>
        <% @deployment.team_deployments.each do |p| %>
          <p><%= p.user.name.titleize %></p>
        <% end %>
      </div> 


      <div>
        <%= render 'add_images_modal' if logged_in?(:admin) || current_user.is_on_deployment?(@deployment) %> 
      </div>

    </div>
    
    <div class="col-md-6">
      <%= image_tag @deployment.feature_image, class: 'img-thumbnail', width: '100%' %> 
    </div>  

  </div> 

  <hr>

  <% if @deployment.images %>  
    <div class="row">
      <% @deployment.images.each_with_index do |image, index| %>
        <div class="col-md-3">
          <%#= image_tag image, class: 'img-thumbnail', width: '100%' %>
          <%#= link_to fa_icon("trash-o", class: 'fa-lg'), deployment_image_path(@deployment, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } %>

          <%= link_to image_tag(image.url, width: '100%'), image.url, "data-lightbox" => @deployment.images %>
          <%= link_to fa_icon("trash-o", class: 'fa-lg'), deployment_image_path(@deployment, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } if logged_in?(:admin) %>
        </div>
      <% end %>  
    </div>  
  <% end %>  

</div>  
